.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  width: 50rem;
  max-width: 95%;

  box-shadow:
    inset -1px 3px 8px 5px #1f87ff,
    2px 5px 16px 0 #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.collection {
  border: unset;
  border-radius: unset;
}

.secondary-content {
  cursor: pointer;
}